/* Shared Styles */
.highlight{
    color: tomato;
}

.text-center{
  text-align: center;
}

h2{
    font-size: 32px;
    font-weight: 800;
}

h4{
    font-size: 24px;
    font-weight: 700;
}

p{
    font-size: 16px;
    opacity: 0.7;
}

.article .article-btn{
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid var(--primary-color);
    background-color: white;
}


/* Styles Of hero section */
nav, .banner-area{
    max-width: 1440px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3{
    font-size: 28px;
    font-weight: 800;
}

nav button{
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    box-sizing: border-box;
    border-radius: 50px;
    border: 1px solid var(--primary-color);
    background-color: white;
}

.banner-area{
    background-image: url(../assets/Hero-bg.png);
    margin-top: 20px;
    text-align: center;
}

.banner-area img{
    padding-top: 20px;
}

h1{
    font-size: 48px;
    font-weight: 800;
}

.banner-area button{
    padding: 18px 26px;
    background-color: var(--primary-color);
    color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 40px;
}

#hero{
    margin-bottom: 60px;
}



/* styles of why-web development */
#why-webd{
    background-color: rgba(13, 19, 33, 0.02);
    border-radius: 16px;
    padding: 0 100px;
    padding-bottom: 50px;
}

.articles-heading{
    padding: 50px 0 40px 0;
}

.article{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
    margin-bottom: 20px;
    padding: 48px;
}

#why-webd :nth-child(3) {
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
        gap: 100px;
  }

  #why-webd :nth-child(4) {
    margin-bottom: 0px;
}

  